body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0E0D15;
}

/* topnav start */

.active {
    color: var(--color-bright-white-teal, #D7FFFF);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar {
    display: flex;
    background-color: #0E0D15;
    justify-content: space-between;
    padding: 14px 16px;
}

.navbar a {
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(269deg, #96FFFF 1.34%, #E0C4FB 106.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar .middle {
    flex: 1;
    display: flex;
    justify-content: center;

    margin-left: 15rem;
    margin-right: 15rem;

    flex-shrink: 0;

    border-radius: 5rem;
    background: rgba(117, 159, 239, 0.10);
    box-shadow: 0px 0px 10.8px 0px rgba(63, 63, 63, 0.26);

}

.navbar .middle a {
    flex: .15;

    font-size: 18px;
    margin-top: 10px;
    font-weight: 100;

    color: var(--color-dark-teal, #008080);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.navbar .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;

    width: fit-content;
    height: fit-content;
    position: relative;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.burger {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar .middle:not(:first-child) {
        display: none;
    }

    .navbar a.burger {
        float: right;
        display: block;
        padding: .1rem;
    }

    .navbar a.news-link {
        display: none;
    }

    .round {
        display: none;
    }

}

.input-search {

    width: 25px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: rgba(117, 159, 239, 0.10);
    color: #fff;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    display: none;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 150px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 150px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

@media screen and (max-width: 600px) {
    .input-search:focus {
        width: 50px;
        /* border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
    }

    .btn-search:focus~.input-search {
        width: 50px;
        /* border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2); */
    }
}

.round {
    padding: .6rem;
    flex-shrink: 0;
    margin-left: 1rem;
    border-radius: 5rem;
    background: rgba(117, 159, 239, 0.10);
    box-shadow: 0px 0px 10.8px 0px rgba(63, 63, 63, 0.26);

}

/* top end */

main {
    z-index: -1;
    overflow-x: hidden;
}

.red {
    width: 25.4375rem;
    height: 25.4375rem;
    flex-shrink: 0;
    margin-left: -10%;
    margin-top: 10rem;
    border-radius: 25.4375rem;
    background: radial-gradient(53.03% 53.03% at 47.05% 55.04%, rgba(120, 69, 90, 0.47) 0%, rgba(15, 15, 17, 0.00) 100%);

}

.blue {
    width: 25.4375rem;
    height: 25.4375rem;
    flex-shrink: 0;
    margin-left: 83%;
    margin-top: -25rem;
    border-radius: 36.9375rem;
    background: radial-gradient(50.78% 50.78% at 50% 50%, rgba(73, 63, 114, 0.58) 0%, rgba(35, 35, 43, 0.00) 100%);

}

@media screen and (max-width: 600px) {
    .red {
        display: none;
    }

    .blue {
        display: none;
    }
}

/* part 1 start */

.sa {
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(269deg, #96FFFF 1.34%, #E0C4FB 106.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.pa {
    color: #F4F4F4;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pb {
    color: #75A0D2;
    font-family: Inter;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.part1 {
    /* width: 100rem; */
    height: 60rem;
    flex-shrink: 0;
    z-index: 1;
    margin-top: -20rem;
    margin-left: 15rem;
}

.imga {
    float: right;
    margin-right: 15rem;
    margin-top: -5rem;
}

.ba {
    display: inline-flex;
    padding: 1.5625rem 4.1875rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 2.9375rem;
    border: 1px solid #FFF;
    background: linear-gradient(89deg, #68BFBF -8.11%, #9673B8 107.08%);

    margin-top: 6rem;

    color: #0B0B11;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 600px) {
    .part1 {
        /* width: 100rem;
        height: 60rem;
        flex-shrink: 0;
        z-index: 1;*/
        margin-top: 5rem;
        margin-left: 1rem;
    }

    .imga {
        /* float: right; */
        margin-right: auto;
        margin-top: auto;
    }

    .ba {
        display: inline-flex;
        /* padding: 1.5625rem 4.1875rem; */
        justify-content: center;
        align-items: center;
        gap: 0.625rem;

        border-radius: 2.9375rem;
        border: 1px solid #FFF;
        background: linear-gradient(89deg, #68BFBF -8.11%, #9673B8 107.08%);

        /* margin-top: 8rem; */

        color: #0B0B11;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}

/* part 1 end */